Repository DeveloperAcademy-POSTECH/MC3-Team4-Tworld, pull requests merged in 2022-07, with the labels that each got.

#8 Feat: Core data CRUD 구현 완료
  SueobHaro/ClassInfo+CoreDataClass.swift
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/AppDelegate.swift
  SueobHaro/SueobHaro/ClassInfo+CoreDataClass.swift
  SueobHaro/SueobHaro/ClassInfo+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataManager.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassInfo+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassInfo+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassInfo/ClassInfo+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassInfo/ClassInfo+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassIteration+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassIteration+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassIteration/ClassIteration+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/ClassIteration/ClassIteration+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/Members+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/Members+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/Members/Members+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/Members/Members+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/Schedule+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/Schedule+CoreDataProperties.swift
  SueobHaro/SueobHaro/Model/DataModels/Schedule/Schedule+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/Schedule/Schedule+CoreDataProperties.swift
  SueobHaro/SueobHaro/SceneDelegate.swift
  SueobHaro/SueobHaro/SueobHaro.xcdatamodeld/SueobHaro.xcdatamodel/contents
  SueobHaro/SueobHaro/ViewController.swift
Labels: 💾 Data

#9 Feat: Design Guide System 반영
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/Assets.xcassets/AppIcon.appiconset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale1.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale2.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale3.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale4.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale5.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale6.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/Greyscale7.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/SPBlack.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/SPDarkBlue.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/SPLightBlue.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/SPTurkeyBlue.colorset/Contents.json
  SueobHaro/SueobHaro/DesignGuideSystem.swift
  SueobHaro/SueobHaro/Fonts/Pretendard-Bold.otf
  SueobHaro/SueobHaro/Fonts/Pretendard-Light.otf
  SueobHaro/SueobHaro/Fonts/Pretendard-Medium.otf
  SueobHaro/SueobHaro/Info.plist
Labels: 🖍 Design

#28 [FEAT] 변경된 스케쥴 카드 변경 in ClassDetailView
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/Helper/KeyboardHeightHelper.swift
  SueobHaro/SueobHaro/Model/DataManager.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassDetailView.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassInformationView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassInformationHeaderComponent.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassScheduleCardComponent.swift
  SueobHaro/SueobHaro/ViewController.swift
Labels: Team View

#38 [FEAT] ClassInformationView Update
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/SwfitUIViews/ClassDetailView.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassInformationView.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassUpdateView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassInformationHeaderComponent.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassMemberGridView.swift
Labels: Team View

#39 Setting
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/MainTabBarController.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassSettingView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassNameView.swift
Labels: 베테브, Setting View

#41 Feature/weekly calendar
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/CalendarBackgroundView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/CalendarNumberView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/WeeklyCalendarView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/WeeklyNumberView.swift
Labels: Calendar View
