Repository DeveloperAcademy-POSTECH/MC3-Team4-Tworld, pull requests merged in 2022-08, with the labels that each got.

#42 Fix add class view
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/Bitmap.png
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/Bitmap@2x.png
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/Bitmap@3x.png
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/untitled3_보정2.png
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/untitled3_보정2@2x.png
  SueobHaro/SueobHaro/Assets.xcassets/addDone.imageset/untitled3_보정2@3x.png
  SueobHaro/SueobHaro/Model/DataManager.swift
  SueobHaro/SueobHaro/Model/DataModels/Schedule/Schedule+CoreDataClass.swift
  SueobHaro/SueobHaro/Model/DataModels/Schedule/Schedule+CoreDataProperties.swift
  SueobHaro/SueobHaro/SueobHaro.xcdatamodeld/SueobHaro.xcdatamodel/contents
  SueobHaro/SueobHaro/SwfitUIViews/ClassExamAddView.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassSettingView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassNameView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/DatePickerView.swift
Labels: 베테브

#43 Feat: 월간 캘린더 + Fix: 디자인 가이드라인 수정 및 코어데이터 수정
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomBlue.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomGreen.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomOrange.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomPink.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomPurple.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomSalmon.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomSkyblue.colorset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Colors/randomYellow.colorset/Contents.json
  SueobHaro/SueobHaro/DesignGuideSystem.swift
  SueobHaro/SueobHaro/Helper/CalendarUtil.swift
  SueobHaro/SueobHaro/Helper/DateFormatUtil.swift
  SueobHaro/SueobHaro/MainTabBarController.swift
  SueobHaro/SueobHaro/Model/DataManager.swift
  SueobHaro/SueobHaro/SueobHaro.xcdatamodeld/SueobHaro.xcdatamodel/contents
  SueobHaro/SueobHaro/SwfitUIViews/ClassExamAddView.swift
  SueobHaro/SueobHaro/SwfitUIViews/MonthCalendar/MonthCalendar.swift
  SueobHaro/SueobHaro/SwfitUIViews/MonthCalendar/PlanView.swift
  SueobHaro/SueobHaro/SwfitUIViews/MonthCalendar/PlanViewModel.swift
  SueobHaro/SueobHaro/SwfitUIViews/MonthCalendar/ScheduleInfoView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassCheckView.swift
Labels: 에반, Calendar View, 💾 Data

#45 Feature/personal member view
  SueobHaro/SueobHaro.xcodeproj/project.pbxproj
  SueobHaro/SueobHaro/Controller/ClassMemberViewController.swift
  SueobHaro/SueobHaro/MainTabBarController.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassDetailView.swift
  SueobHaro/SueobHaro/SwfitUIViews/ClassInformationView.swift
  SueobHaro/SueobHaro/SwfitUIViews/PersonalMemberView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/ClassTextField.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/PointChartView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/CalendarBackgroundView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/CalendarNumberView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/WeeklyCalendarView.swift
  SueobHaro/SueobHaro/SwfitUIViews/WeeklyCalendar/WeeklyNumberView.swift
  SueobHaro/SueobHaro/ViewComponent/ClassMemberCollectionViewCell.swift
  SueobHaro/SueobHaro/ViewComponent/ClassMemberSectionHeaderView.swift
  SueobHaro/SueobHaro/ViewComponent/ClassMemberTableViewCell.swift
  SueobHaro/SueobHaro/ViewController.swift
Labels: Calendar View, Team View, ClassMember View

#58 REFACTOR / memberView
  SueobHaro/SueobHaro/Assets.xcassets/Icons/addCalendar-unselected.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/addCalendar.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/calendar-unselected.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/calendar.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/gear-unselected.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/gear-unselected.imageset/대지 2 사본 40 copy@3x-3.png
  SueobHaro/SueobHaro/Assets.xcassets/Icons/plan-unselected.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/plan.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/Icons/이.imageset/Contents.json
  SueobHaro/SueobHaro/Assets.xcassets/question.imageset/Contents.json
  SueobHaro/SueobHaro/Controller/ClassMemberViewController.swift
  SueobHaro/SueobHaro/SwfitUIViews/PersonalMemberView.swift
  SueobHaro/SueobHaro/SwfitUIViews/SubViews/PointChartView.swift
Labels: ClassMember View
